.top-search-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 1rem;
}
.link-item{
    color: white;   
    text-decoration: none;
}

.popular-title{
    margin-top: 1.5rem;
}

@media (max-width: 756px) {
    .container {
        flex-direction: column;
    }
}

@media (max-width: 568px) {
    .top-search-container{
        align-items: center;
    }
}