$fontSystem: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontPacifico: 'Pacifico', cursive;

$colorwhite: #fff;
$colorgreen: #4ba38c;
$colorviolet: #e27df0;
$colorlightgreen: #86f0d4;
$colorlightbrown: #f0cf6e;
$colorbrown: #a38a3e;
$colordark: #444;

$mobile: (max-width: 576px);
$tablet: (max-width: 768px);
$desktop: (max-width: 1024px);
